* {
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 225, 225);
}

.home {
    width: 90%;
    margin: 0 auto;
    .restaurants {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        h3 {
            width: 100%;
            text-align: center;
        }
        .one-restaurant {
            margin: 30px;
            padding: 15px;
            background-color: rgb(201, 151, 151);
        }
    }
}
