* {
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 225, 225);
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    #nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        a {
            margin: 0 15px;
        }
        input {
            padding: 5 10px;
            width: 200px;
        }
    }
    #user-identification {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
            margin: 0 20px;
        }
    }
}

.home {
    width: 90%;
    margin: 0 auto;
    .restaurants {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        h3 {
            width: 100%;
            text-align: center;
        }
        .one-restaurant {
            margin: 30px;
            padding: 15px;
            background-color: rgb(201, 151, 151);
            h2 {
                text-align: center;
            }
            .no-note {
                font-style: italic;
                color: rgb(187, 88, 88);
            }
        }
    }
}
