{% extends 'base.html.twig' %}

{% block title %}Tous les restaurants{% endblock %}

{% block body %}
    <div class="container restaurants">
        {% for restaurant in restaurants %}
            <div class="one-restaurant">
                <h2>{{restaurant.name}}</h2>
                <p>{{restaurant.description}}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
